body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

#clap {
	display: block;
	width: 100%;
	height: 50%;
	-webkit-appearance:none;
	background-color: red;
	color: white;
	border: 0;
}